<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" height="100" alt="Angular Logo"
       src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/pi.jpg">
</div>

<div class="container">
  <div class="pi-exam item-left">
    <div *ngFor="let piPart of pi100" class="pi-practise-fact">{{piPart}}</div>
  </div>
  <div class="item-right">
    <input *ngFor="let piPart of pi100; let i = index" type="text" class="pi-practise"
           [ngClass]="pi100UserInput[i] && piPart.includes(pi100UserInput[i]) ? 'correct' : 'false'"
           [(ngModel)]="pi100UserInput[i]">
  </div>
  <div class="item-3">
    <div id="input-number">
      <ul>
        <li *ngFor="let item of piInput; let i = index">{{i}}</li>
      </ul>
    </div>
    <div id="pi-translator-input-div">
      <input *ngFor="let item of piInput; let i = index" type="text" class="pi-translator-input"
             [(ngModel)]="piInput[i]">
    </div>
  </div>
  <div class="item-4">
    <textarea name="pi" id="id" [(ngModel)]="pi" class="pi-input" cols="70" rows="3"></textarea>
  </div>
  <div class="pi-tranlsated-input" class="item-5">
    <div class="pi-tranlsated-input">
      <span style="font-family: sans-serif;">{{tranlsate()}}</span>
    </div>
  </div>
</div>
